body{
    font-family: 'Crete Round', serif;
    list-style: none;
}
h1{
    font-family: 'Crete Round', serif;
}
.login{
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Crete Round', serif;
	font-size:15px;
	padding:7px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.login:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.login:active {
	position:relative;
	top:1px;
}

.content{
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 30%;
}

.lado1{
	margin-top: 30%;
	margin-left: 2cm;
	
	
}
.lado2{
	margin-left: 50%;
	position: absolute;
	top: 10cm;
	left: 3cm;
}

.letter{
	font-family: 'Crete Round', serif;
	font-weight: 600;
}

body{
	background-image: url("https://media.cdn.gradconnection.com/uploads/5b8c0d5d-91a7-40e7-b10d-aaebf5ef34f3-tata-new-banner1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	
}
.container{
	position:relative;
	top: 35%; left: 25%;
}

.inputs{
	margin-left: 3cm;
}
.answer{
	margin-left: 0.8cm;
}
.social{
	list-style: none;
	float: right;
	text-align: right;
	margin: 1cm;
}
/* this code is for the captcha css*/

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
body {
 
	font-family: 'Crete Round', serif;
}
#captchaBackground {
 height: 220px;
 width: 250px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
#captchaHeading {	
 color: white;
}
#captcha {
 height: 80%;
 width: 80%;
 font-size: 30px;
 letter-spacing: 3px;
 margin: auto;
 display: block;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 color: black;
}
.center {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 30%;
}
#submitButton {
 margin-top: 2em;
 margin-bottom: 2em;
 background-color: white;
 border: 0px;
 font-weight: bold;
}
#refreshButton {
 background-color: white;
 border: 0px;
 font-weight: bold;
}
#textBox {
 height: 25px;
}
.incorrectCaptcha {
 color: #FF0000;
}
.correctCaptcha {
 color: #7FFF00;
}

.css-input {
	padding: 6px;
	font-size: 17px;
	border-width: 0px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 7px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
	outline:none;
}
